.customer-list-modal{
    max-height: 80vh;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 1000px;
    width: 100%;
    left: 50%;
}

.customer-edit-modal{
    max-height: 80vh;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 600px;
    padding: 0 30px;
    width: 100%;
    left: 50%;
}

@media (max-width: 992px){
    .customer-list-modal{
        max-width: 700px;
    }
}

@media (max-width: 768px){
    .customer-list-modal{
        max-width: 500px;
    }
}


